<!--Header-->
<div class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-text" routerLink="/user/{{userId}}/website/{{websiteId}}/page"><i class="fas fa-angle-left"></i></a>
    <a class="navbar-brand ml-2" href="#"> Edit Page</a>
    <a class="navbar-text ml-auto" (click)="editPage()"><i class="fas fa-check"></i></a>
  </div>
</div>

<!--Content-->
<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">{{ errorMsg }}</div>
  <form>
    <div class="form-group">
      <label for="page-name">Name</label>
      <input type="text"
             class="form-control"
             [class.is-invalid]="!pageName.valid && pageName.touched"
             id="page-name"
             name="name"
             placeholder="Page Name"
             [(ngModel)]="page.name" required #pageName="ngModel">
    </div>
    <small class="form-text text-danger" *ngIf="!pageName.valid && pageName.touched">
          Please enter page name.
    </small>

    <div class="form-group">
      <label for="page-title">Title</label>
      <input type="text"
             class="form-control"
             id="page-title"
             name="description"
             placeholder="Page Title"
             [(ngModel)]="page.description">
    </div>
  </form>
  <a class="btn btn-danger btn-block" (click)="deletePage()">Delete</a>
</div>

<!-- Footer -->
<div class="navbar navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text ml-auto" routerLink="/user/{{userId}}"><i class="fas fa-user"></i></a>
  </div>
</div>
