<!--Header-->
<div class="navbar navbar-dark cl-blue-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-text" routerLink="/profile"><i class="fas fa-angle-left fontawsome_icon"></i></a>
    <a class="navbar-brand ml-2" href="javascript:void(0);"> Websites</a>
    <a class="navbar-text ml-auto" routerLink="/website/new"><i class="fas fa-plus fontawsome_icon"></i></a>
  </div>
</div>

<!--Content-->
<div class="container">
  <ul class="list-group list-group-flush" *ngFor="let website of websites">
    <li class="list-group-item">
      <a [routerLink]="['./',website._id,'page']">{{ website.name }}</a>
      <a [routerLink]="['./',website._id]" class="float-right"><span class="fas fa-cog nudge-right-10px fontawsome_icon"></span></a>
    </li>
  </ul>
</div>

<!-- Footer -->
<div class="navbar navbar-dark cl-blue-navbar fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text ml-auto" routerLink="/profile"><i class="fas fa-user fontawsome_icon"></i></a>
  </div>
</div>
