<div class="container">
  <h2>Register</h2>
  <div *ngIf="errorFlag" class="alert alert-danger">{{ errorMsg }}</div>
  <form (ngSubmit)="register()" #f="ngForm">
    <div class="form-group">
      <input class="form-control"
             [class.is-invalid]="!username.valid && username.touched"
             type="text"
             name="username"
             placeholder="Username"
             ngModel required #username="ngModel">
    <small class="form-text text-danger" *ngIf="!username.valid && username.touched">
      Please enter username.
    </small>
    </div>
    <div class="form-group">
      <input class="form-control"
             [class.is-invalid]="!password.valid && password.touched"
             type="password"
             name="password"
             placeholder="Password"
             ngModel required #password="ngModel">
    <small class="form-text text-danger" *ngIf="!password.valid && password.touched">
      Please enter password.
    </small>
    </div>
    <div class="form-group">
      <input class="form-control"
             [class.is-invalid]="!verifyPassword.valid && verifyPassword.touched"
             type="password"
             name="verifyPassword"
             placeholder="Verify Password"
             ngModel required #verifyPassword="ngModel">
    <small class="form-text text-danger" *ngIf="!verifyPassword.valid && verifyPassword.touched">
      Please enter verify password.
    </small>
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Register</button>
    </div>

    <div class="form-group">
      <a class="btn btn-danger btn-block" routerLink="/login">Cancel</a>
    </div>
  </form>

</div>
