 <div class="navbar navbar-dark cl-blue-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Profile</a>
    <a (click)="updateUser()" class="navbar-text ml-auto" ><i class="fas fa-check fontawsome_icon cl-text-white"></i></a>
  </div>
</div>


<div class="container">
  <div *ngIf="errorFlag" class="alert alert-danger">{{ errorMsg }}</div>
  <form (ngSubmit)="updateUser()" #f="ngForm">
    <div class="form-group">
      <label for="username">Username</label>
      <input class="form-control"
             type="text"
             id="username"
             name="username"
             placeholder="Username"
             [(ngModel)]="user.username"
             required #username="ngModel">
    </div>
    <span class="form-text text-muted" *ngIf="!username.valid && username.touched">
      Please enter username!
    </span>

    <div class="form-group">
      <label for="email">Email address</label>
      <input class="form-control"
             type="email"
             id="email"
             name="email"
             placeholder="sample@google.com"
             [(ngModel)]="user.email"
             email #email="ngModel">
    </div>
    <span class="form-text text-muted" *ngIf="!email.valid && email.touched">
      Please enter correct email!
    </span>

    <div class="form-group">
      <label for="firstname">First Name</label>
      <input [(ngModel)]="user.firstName"
             class="form-control"
             type="text"
             id="firstname"
             name="firstname"
             placeholder="FirstName">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input [(ngModel)]="user.lastName"
             class="form-control"
             type="text"
             id="lastname"
             name="lastname"
             placeholder="LastName">
    </div>
    <div class="form-group">
      <button [disabled]="!f.valid" class="btn btn-primary btn-block" type="submit">Websites</button>
    </div>
    <div class="form-group">
      <button class="btn btn-danger btn-block" routerLink="/login">Logout</button>
    </div>
  </form>
</div>


<div class="navbar navbar-dark cl-blue-navbar fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text ml-auto" routerLink="/user/{{user._id}}"><i class="fas fa-user fontawsome_icon"></i></a>
  </div>
</div>
