<!--Header-->
<div class="navbar navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand navbar-text" routerLink="/website/{{websiteId}}/page/{{pageId}}/widget"><i class="fas fa-angle-left fontawsome_icon"></i></a>
    <a class="navbar-brand mr-auto" href="javascript:void(0);">Choose Widget</a>
  </div>
</div>

<!--Content-->
<div class="container-fluid cl-container-padding">
  <ul class="list-group cl-list-group-borderless">
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('HEADING')" href="javascript:void(0);">Header</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Label</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('HTML')" href="javascript:void(0);">HTML</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('TEXT')" href="javascript:void(0);">Text Input</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Link</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Button</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('IMAGE')" href="javascript:void(0);">Image</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a (click)="createWidget('YOUTUBE')" href="javascript:void(0);">YouTube</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Data Table</a>
    </li>
    <li class="list-group-item cl-list-item-borderless">
      <a href="#">Repeater</a>
    </li>
  </ul>
</div>

<!-- Footer -->
<div class="navbar navbar-light bg-light fixed-bottom">
  <div class="container-fluid">
    <a class="navbar-text ml-auto" routerLink="/profile"><i class="fas fa-user fontawsome_icon"></i></a>
  </div>
</div>
